@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section NavContent {
    <nav id="nav">
		<ul>
			<li class="current"><a href="~/Home/Index">Menu</a></li>
			<li><a href="~/Home/Products">Products</a></li>
            <li><a href="~/Home/AboutUs">Franchising</a></li>
		</ul>
	</nav>
}

@section BannerContent {
    <section id="banner">
		<header>
			<h2>In-store Menu</h2>
            <h2>Rise and grind, it's coffee time!</h2>
		</header>
	</section>
}

@section MainContent {
    <section id="main">
        <h1 class="best-sellers">BEST SELLERS!</h1>
        <section class="carousel">
            <div class="reel">
                <article>
                    <a href="~/Home/Products" class="image featured"><img src="~/Images/Froccino-cookies.jpg" alt="" /></a>
                    <header>
                        <h3><a href="~/Home/Products">Froccino Cookies n' Cream</a></h3>
                    </header>
                    <p>Blended Coffee with Oreo Cookies and Whipped Cream</p>
                    <button class="fback-button" onclick="location.href='@Url.Action("Products", "Home")'">Give Feedback</button>
                    <p class="star-rate star-size">★★★★★</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="~/Images/froccino-mocha.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Froccino Mocha</a></h3>
                    </header>
                    <p>Blended Coffee with Chocolate Sauce and Whipped Cream</p>
                    <button class="fback-button">Give Feedback</button>
                    <p class="star-rate star-size">★★★★</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="~/Images/hot-caramel-latte.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Hot Caramel Latte</a></h3>
                    </header>
                    <p>Hot espresso with caramel sauce and milk</p>
                    <button class="fback-button">Give Feedback</button>
                    <p class="star-rate star-size">★★★★</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="~/Images/hot-coffee-mocha.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Hot Caffee Mocha</a></h3>
                    </header>
                    <p>Espresso with chocolate powder and milk with whipped cream</p>
                    <button class="fback-button">Give Feedback</button>
                    <p class="star-rate star-size">★★★★★</p>
                </article>

                <article>
                    <a class="image featured"><img src="~/Images/ice-caramel-latte.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Ice Caramel Latte</a></h3>
                    </header>   
                    <p>Espresso with ice, caramel sauce and milk</p>
                    <button class="fback-button">Give Feedback</button>
                    <p class="star-rate star-size">★★★★★</p>
                </article>
            </div>
            <span class="forward"></span>
            <span class="backward"></span>
        </section>
	</section>
}
