@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using System.Data.SqlClient;
@using System.Web.Security;

@{
    // Define the connection string
    var connectionstring = @"Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\pc\Documents\Visual Studio 2012\Projects\JaCoolMVC\JaCoolMVC\App_Data\JACOOL_DB.mdf;Integrated Security=True";

    if (IsPost)
    {
        var email = Request["logemail"];
        var password = Request["logpass"];

        // process login
        using (var cn = new SqlConnection(connectionstring))
        {
            cn.Open();
            var query = "SELECT ADMINEMAIL, PASSWORD FROM ADMIN WHERE ADMINEMAIL = @ADMINEMAIL AND PASSWORD = @PASSWORD";
            using (var customerCmd = new SqlCommand(query, cn))
            {
                customerCmd.Parameters.AddWithValue("@ADMINEMAIL", email);
                customerCmd.Parameters.AddWithValue("@PASSWORD", password);

                using (var customerReader = customerCmd.ExecuteReader())
                {
                    if (customerReader.HasRows)
                    {
                        // Login successful
                        Session["Admin"] = email;
                        Response.Redirect("~/Home/Admin");
                    }
                }
            }
        }
    }
}

@section MainContent {
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Log In </span><span style="display:none">Sign Up</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" disabled="disabled" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                            <form method="post">
                                                <div class="form-group">
                                                    <input type="email" class="form-style" placeholder="Your Email" id="logemail" name="logemail" autocomplete="off" />
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" class="form-style" placeholder="Your Password" id="logpass" name="logpass" autocomplete="off" />
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <button type="submit" class="btn mt-4">Login</button>
                                            </form>
                                            <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back" style="display:none">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Sign Up</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-style" placeholder="Your Full Name" id="regname" autocomplete="off" />
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="email" class="form-style" placeholder="Your Email" id="regemail" autocomplete="off" />
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" class="form-style" placeholder="Your Password" id="regpass" autocomplete="off" />
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <button type="button" class="btn mt-4" onclick="btnSignUp_Click()">Sign Up</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        function btnSignUp_Click() {
            // Your sign up logic here
        }
    </script>
}
